@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="row">
    <div class="col-lg-4">
        În conformitate cu prevederile Legii nr. 319/2006 a securităţii şi sănătăţii în muncă, conducătorii unităţilor economice sunt singurii responsabili de sănătatea şi securitatea lucrătorilor, aceştia situându-se în centrul activităţii de prevenire a riscurilor profesionale şi asigurare a sănătăţii în muncă.

        În acest site ve-ţi găsii informaţii utile despre organizarea activităţii de securitate şi sănătate în muncă si PSI  în societatea dumneavoastră precum şi consultanţă privind externalizarea  acestor servicii.
    </div>
    <div class="col-lg-6">
        <div class="card flex-md-row mb-4 box-shadow h-md-250">
            <div class="card-body d-flex flex-column align-items-start">
                <h3 class="mb-0 text-dark">Linkuri utile</h3>
                <a class="btn-sm" href="http://www.inpm.ro/">Institutul National de Cercetare Dezvoltare pentru Protectia Muncii Alexandru Darabont</a>
                <a class="btn-sm" href="http://www.mmuncii.ro/ro/">Ministerul Muncii,Familiei si Protectiei Sociale</a>
                <a class="btn-sm" href="http://www.inspectmun.ro/">Inspectia Muncii</a>
            </div>
            <img class="card-img-right flex-auto d-none d-md-block" src="~/images/info_connsumator.gif" />
        </div>
    </div>
    <div class="col-lg-2">
        <h4>Site map</h4>
        <ul class="list-unstyled text-small">
            <li><a class="text-muted" asp-controller="Home" asp-action="Services">Servicii</a></li>
            <li><a class="text-muted" asp-controller="Home" asp-action="Informations">Informatii</a></li>
            <li><a class="text-muted" asp-controller="Home" asp-action="LegalyTerms">Legislatie</a></li>
            <li><a class="text-muted" asp-controller="Home" asp-action="Models">Modele</a></li>
            <li><a class="text-muted" asp-controller="Home" asp-action="Contact">Contact</a></li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 text-center">
        <p>2018 © <a class="text-muted text-dark" asp-controller="Home" asp-action="Copyright">Copyright</a> Conssm.ro. Toate drepturile rezervate.</p>
    </div>
</div>
